extends layout

block content
  .container#stats-page
    .row.justify-content-between.mt-5
      div#data.col-sm-12.col-md-12.col-lg-4.shadow-lg.p-3.bg-body.rounded.mb-2
        div.m-3
            select#countries-list.form-select( aria-label="Default select example" onchange='update()')
              option(selected,value="world") World
              each name in countriesList
                option(value=`${name}`) #{name}
        .d-flex.flex-column.justify-content-between#country-info      
          div.text-center
            h3 #{worldStats.Country_text}
          div.d-flex.justify-content-between.border.align-items-center.p-1.my-2.rounded
            p Total Cases
            span #{worldStats["Total Cases_text"]}
          div.d-flex.justify-content-between.align-items-center.p-1.border.my-2.rounded
            p Deaths
            span #{worldStats["New Deaths_text"]}
          div.d-flex.justify-content-between.align-items-center.p-1.border.my-2.rounded
            p Recovered
            span #{worldStats["Total Recovered_text"]}
          div.d-flex.justify-content-between.align-items-center.p-1.border.my-2.rounded
            p Active Cases
            span #{worldStats["New Cases_text"]}
          div.d-flex.justify-content-between.align-items-center.p-1.border.my-2.rounded
            p Last Updated
            span #{`${worldStats["Last Update"].split(" ")[0]}`}
          
      .col-sm-12.col-md-12.col-lg-8
        #map.shadow-lg.bg-body.rounded.mb-2.
     
        
    

    


